<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
   <error-page>
     <exception-type>java.lang.NullPointerException</exception-type>
     <location>/error1.jsp</location>
   </error-page>
   
    <error-page>
     <exception-type>java.lang.NumberFormatException</exception-type>
     <location>/error2.jsp</location>
   </error-page>
</web-app>
